body{padding:0!important;background:none!important;min-width:320px;width:100%;}
.no-frame-container{min-width: 320px;  width: 100%;}
#container{margin-left:0!important;margin-right:0!important;;max-width:100%!important;}
.selected-provider-box{margin:0px!important; border-radius: 0!important;}
#footer{display:none;}
/* general styles */
.clear{clear:both;}
#logo{display:none;}
#navigation{background: #fff!important;}
#navigation ul{margin: 0!important; }
.navbar-right ul li{float:left;margin:0 0px!important;}
#step_navigation_menu{display:none;}

.owl-item td:first-child{width:0px!important;vertical-align:top;}
.owl-item td:nth-child(2){    padding-top: 200px;}
