.form-control {
	label {
		display: block;
	}
	input {
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: left;
	}
}
.button {
	@include button;
	padding: 10px 25px !important;
	cursor: pointer;
}